{% load forms %}
{% input  label="Test" model="editing.test"  %}
{% datepicker  label="Date Ordered" model="editing.date_ordered"  %}
{% input  label="Details" model="editing.details"  %}
{% input  label="Microscopy" model="editing.microscopy"  %}
{% input  label="Organism" model="editing.organism"  %}
{% input  label="Sensitive Antibiotics" model="editing.sensitive_antibiotics"  %}
{% input  label="Resistant Antibiotics" model="editing.resistant_antibiotics"  %}
{% input  label="Result" model="editing.result"  %}
{% input  label="Igm" model="editing.igm"  %}
{% input  label="Igg" model="editing.igg"  %}
{% input  label="Vca Igm" model="editing.vca_igm"  %}
{% input  label="Vca Igg" model="editing.vca_igg"  %}
{% input  label="Ebna Igg" model="editing.ebna_igg"  %}
{% input  label="Hbsag" model="editing.hbsag"  %}
{% input  label="Anti Hbs" model="editing.anti_hbs"  %}
{% input  label="Anti Hbcore Igm" model="editing.anti_hbcore_igm"  %}
{% input  label="Anti Hbcore Igg" model="editing.anti_hbcore_igg"  %}
{% input  label="Rpr" model="editing.rpr"  %}
{% input  label="Tppa" model="editing.tppa"  %}
{% input  label="Viral Load" model="editing.viral_load"  %}
{% input  label="Parasitaemia" model="editing.parasitaemia"  %}
{% input  label="Hsv" model="editing.hsv"  %}
{% input  label="Vzv" model="editing.vzv"  %}
{% input  label="Syphilis" model="editing.syphilis"  %}
{% input  label="C Difficile Antigen" model="editing.c_difficile_antigen"  %}
{% input  label="C Difficile Toxin" model="editing.c_difficile_toxin"  %}
{% input  label="Species" model="editing.species"  %}
{% input  label="Hsv 1" model="editing.hsv_1"  %}
{% input  label="Hsv 2" model="editing.hsv_2"  %}
{% input  label="Enterovirus" model="editing.enterovirus"  %}
{% input  label="Cmv" model="editing.cmv"  %}
{% input  label="Ebv" model="editing.ebv"  %}
{% input  label="Influenza A" model="editing.influenza_a"  %}
{% input  label="Influenza B" model="editing.influenza_b"  %}
{% input  label="Parainfluenza" model="editing.parainfluenza"  %}
{% input  label="Metapneumovirus" model="editing.metapneumovirus"  %}
{% input  label="Rsv" model="editing.rsv"  %}
{% input  label="Adenovirus" model="editing.adenovirus"  %}
{% input  label="Norovirus" model="editing.norovirus"  %}
{% input  label="Rotavirus" model="editing.rotavirus"  %}
{% input  label="Giardia" model="editing.giardia"  %}
{% input  label="Entamoeba Histolytica" model="editing.entamoeba_histolytica"  %}
{% input  label="Cryptosporidium" model="editing.cryptosporidium"  %}